<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burgerMenuAction()">
                <img src="./images/Frame.svg" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/home.svg" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/jobs.svg" alt="Home">
                        <span>Вакансия</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/categories.svg" alt="Home">
                        <span>Категории</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/guides.svg" alt="Home">
                        <span>Гайды</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/signup.svg" alt="Home">
                        <span>Регистрация</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/login.svg" alt="Home">
                        <span>Вход</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/logout.svg" alt="Home">
                        <span>sokolroman : Выход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="categories">
            <div class="container">
                <h2 class="title">Все категории</h2>
                <div class="categories-list">
                    <a href="#" class="category-item">Пехота</a>
                    <a href="#" class="category-item">ВДВ</a>
                    <a href="#" class="category-item">Морпех</a>
                </div>
            </div>
        </section>
    </main>

    <script src="./js/script.js"></script>
</body>
</html>