<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burgerMenuAction()">
                <img src="./images/Frame.svg" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/home.svg" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/jobs.svg" alt="Home">
                        <span>Вакансия</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/categories.svg" alt="Home">
                        <span>Категории</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/guides.svg" alt="Home">
                        <span>Гайды</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/signup.svg" alt="Home">
                        <span>Регистрация</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/login.svg" alt="Home">
                        <span>Вход</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="#" class="menu-list__link">
                        <img src="./images/menu-list/logout.svg" alt="Home">
                        <span>sokolroman : Выход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <section class="job-detail">
            <div class="container">
                <h1 class="title">Требуется РПО</h1>
                <h2 class="title">IT College</h2>
                <h3 class="job-detail-data">Опыт: <span>без опыта с ногами</span></h3>
                <h3 class="job-detail-data">Оклад: <span>50 000 &#8376</span></h3>
                <p class="job-detail-content">Описание вакансии: <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</strong></p>
                <div class="job-detail-skills">
                    <h3 class="job-detail-title">Нужные навыки</h3>
                    <p>HTML, CSS, Java, Python</p>
                </div>
                <div class="job-detail-skills">
                    <h3 class="job-detail-title">Контакты</h3>
                    <ul class="job-detail-address">
                        <li>Адрес: г.Алматы, Абая 52а</li>
                        <li>Телефон: +7 777 777 77 77</li>
                        <li>E-mail: example@gmail.com</li>
                    </ul>
                </div>
                <p class="jon-detail-content">Дата публикации: <strong>19.02.2000</strong></p>
            </div>
        </section>
    </main>

    <script src="./js/script.js"></script>
</body>
</html>